<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link rel="stylesheet" href="styles/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Book Notes</title>
</head>
<body>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <br />
        <h1 class="display-4 fw-bold text-body-emphasis pb-5">Book Notes</h1>
        <br />
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-5">I read a lot of books but after I finish reading them I often don't remember all the most salient parts of the book. So I started taking notes. This project is built on this idea. I have all the non-fiction books he has read, the notes, the ratings and when I made the reviews. The books are sortable by rating and recency. </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="#reviews"><button type="button" class="btn btn-dark btn-lg px-4 me-sm-3">See the reviews</button></a>
            <a href="new.ejs"><button type="button" class="btn btn-outline-dark btn-lg px-4">Make a book review</button></a>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="images/main.jpeg" class="img-fluid border rounded-3 shadow-lg mb-5" alt="Example image" width="800" height="800" loading="lazy">
          </div>
        </div>
      </div>

